/files
/noinstall
/tmp/
/.debhelper/
/debhelper-build-stamp
/firefox-esr-l10n-*.debhelper.log
/firefox-esr-l10n-*.substvars
/firefox-esr-l10n-*/
/firefox-esr-dev.debhelper.log
/firefox-esr-dev.install
/firefox-esr-dev.links
/firefox-esr-dev.substvars
/firefox-esr-dev/
/firefox-esr.bug-control
/firefox-esr.bug-presubj
/firefox-esr.bug-script
/firefox-esr.debhelper.log
/firefox-esr.substvars
/firefox-esr/

/firefox
/firefox-esr.1
/firefox-esr.README.Debian
/firefox-esr.desktop
/firefox-esr.dirs
/firefox-esr.install
/firefox-esr.js
/firefox-esr.links
/firefox-esr.lintian-overrides
/firefox-esr.manpages
/firefox-esr.mime
/firefox-esr.mozconfig
/firefox-esr.postinst
/firefox-esr.postrm
/firefox-esr.preinst
/firefox-esr.prerm
